<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 2 of App</title>
</head>
<body>

<p>This is page 2 of App</p>

<a href="http://127.0.0.1:5000/p1">Link to Page 1</a> <br>
<a href="http://127.0.0.1:5000/p2">Link to Page 2</a> <br>
<a href="http://127.0.0.1:5000/p3">Link to Page 3</a> <br>
<a href="http://127.0.0.1:5000/p4">Link to Page 4</a> <br>
<a href="http://127.0.0.1:5000/p5">Link to Page 5</a> <br>
<a href="http://127.0.0.1:5000/p6">Link to Page 6</a> <br>
<a href="http://127.0.0.1:5000/p7">Link to Page 7</a> <br>
<a href="http://127.0.0.1:5000/p8">Link to Page 8</a> <br>


</body>
</html>